body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Arial;
  padding-top:1%;
}
.first {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 800px;
  min-width: 800px;
  display: grid;
}
.header {
  height: 15em;
  background-color:grey;
  display: grid;
  grid-template-rows: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.2fr;
  grid-template-columns: 1fr 2fr 1fr;
}
.header > img {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  align-self: center;
  justify-self:center;
  max-height: 100%;
  border:dotted 9px;
  border-color: rgb(255,215,0);
  border-spacing: 0.3px;
  border-radius:50%;
}
#name {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 3em;
  background-color: #fabe28;
  border-radius: 5px;
  text-align: center;
  padding-top: 0.2em;
}
#yellow {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: white;
}
.address {
  padding: 0.5em;
  text-align: center;
  font-weight: lighter;
  font-size: small;
}
#resume{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
#left {
  border-right: #e9e9e9 2px solid;
  padding: 2em;
}
#right {
  padding: 2em;
}
.subHeading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-top: 1em;
}
.subHeading > i {
  padding: 0.3em;
  background-color: grey;
  border-radius: 50%;
  border: gold dotted 0.1em;
  background-clip: padding-box;
  color: gold;
}
.subHeading > div {
  align-self: center;
  color: #565656;
  padding-left: 0.2em;
  font-size: 1.5em;
}
ul {
  padding: 1em;
}
footer {
  padding-top: 3em;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #fabe28;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width:25%;
  margin-left:7%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: white;
  opacity:0.6;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border:0.1px solid white;
  border-radius:50%;
  background: #4CAF50;
}
