<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
<div class="first">
  <div class="header">
    <div id="yellow"></div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRH2V9R_q4uDKVnQ6jQ4l0Y-P0CNfdjx9dpDQW4RnGOZxj383eW&amp;usqp=CAU">
    <div id="name">
      <div>{{name}}</div>
    </div>
  </div>
  <div class="address">{{address}}</div>
  <hr>
  <div id="resume">
    <div id="left">
      <div class="subHeading">
        <i class="material-icons">{{headings[0].icons}}</i>
        <div>{{headings[0].name}}</div>
      </div>
      <div>{{headings[0].content}}</div>
      <div class="subHeading">
        <i class="material-icons">{{headings[1].icons}}</i>
        <div>{{headings[1].name}}</div></div><h3 style="text-align: center;">{{headings[1].sub1}}</h3>
      <ul>
        <li>{{headings[1].skills[0]}}<input type="range" min="1" max="100" value="50" id="myRange" class="slider"></li>
        <li>{{headings[1].skills[1]}}<input type="range" min="1" max="100" value="50" id="myRange" class="slider"></li>
        <li>{{headings[1].skills[2]}}<input type="range" min="1" max="100" value="50" id="myRange" class="slider"></li>
        <li>{{headings[1].skills[3]}}<input type="range" min="1" max="100" value="50" id="myRange" class="slider"></li>
        <li>{{headings[1].skills[4]}}<input type="range" min="1" max="100" value="50" id="myRange" class="slider"></li>
        <li>{{headings[1].skills[5]}}<input type="range" min="1" max="100" value="50" id="myRange" class="slider"></li>
        <li>{{headings[1].skills[6]}}<input type="range" min="1" max="100" value="50" id="myRange" class="slider"></li>
      </ul>
      <h3 style="text-align: center;">{{headings[1].sub2}}</h3>
      <ul>
        <li>{{headings[1].addSkills[0]}}</li>
        <li>{{headings[1].addSkills[1]}}</li>
        <li>{{headings[1].addSkills[2]}}</li>
        <li>{{headings[1].addSkills[3]}}</li>
        <li>{{headings[1].addSkills[4]}}</li>
      </ul>
      <div class="subHeading"><i class="material-icons">{{headings[2].icons}}</i>
        <div>{{headings[2].name}}</div>
      </div>
      <h3>{{headings[2].extra.name}}</h3>
      <h5>{{headings[2].extra.date}}</h5>
      <ul>
        <li>{{headings[2].extra.content[0]}}</li><br>
        <li>{{headings[2].extra.content[1]}}</li>
      </ul>
    </div>
    <div id="right">
      <div class="subHeading">
        <i class="material-icons">{{headings[2].icons}}</i>
        <div>{{headings[2].name}}</div>
      </div>
        <h3>{{headings[2].extra1.name}}</h3>
        <h5>{{headings[2].extra1.date}}</h5>
        <ul>
          <li>{{headings[2].extra1.content[0]}}</li>
          <li>{{headings[2].extra1.content[1]}}</li>
          <li> {{headings[2].extra1.content[2]}}</li>
        </ul>
        <div class="subHeading">
          <i class="material-icons">{{headings[3].icons}}</i>
          <div>{{headings[3].name}}</div>
        </div>
        <h3>{{headings[3].program.name}}</h3>
        <h5>{{headings[3].program.date}}</h5>
        <br>
        <div> {{headings[3].project.name}}</div>
        <ul>
          <li>{{headings[3].project.highlights[0]}}</li><br>
          <li>{{headings[3].project.highlights[1]}}</li>
        </ul>
        <footer>
          <h3>{{headings[4].footer}}</h3>
        <h5>{{headings[4].living}}</h5>
      </footer>
    </div>
  </div>
</div>
</body>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
